.productsWrapper {
  padding-top: 50px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 25px;
  @media (max-width: 746px) {
    justify-content: center;
    gap: 5px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 5px;
    padding: 20px;
    flex: 1 0 18%;
    box-shadow: 0 0 45px rgba(204, 204, 204, 0.308);
    @media (max-width: 1200px) {
      flex: 0 1 30%;
    }
    @media (max-width: 877px) {
      flex: 0 1 31%;
    }
    @media (max-width: 746px) {
      flex: 0 1 49%;
    }

    h4{
      @media (max-width: 746px) {
        font-size: 16px;
      }
    }
    
    h3{
      
      span{
        color: $brand;
        padding-left: 5px;
      }
    }


    img {
       width:100%;
       height: auto;
       @media (max-width: 746px) {
        width: 90px;
      }
    }
    button {
      background-color: white;
      color: $brand;
      border: 1px solid $brand;
      padding: 5px 20px;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: $brand;
        color: white;
        transition: all .4s;
      }
      @media (max-width: 746px) {
        padding: 5px 10px;
      }
    }
  }
}
